:root {
  --section-medyoblack-color:#101010;
  --section-masblack-color:#202020;
  --section-medyoGray-color:#3f3d37;
  --section-lowGray-color:#7a7b6c;
  --white-color:#ffffff;
   --main-color:#6adf0a; 
   --section-black-color:#000000;
   --backgroun-transparent: hsl(0 0% 0% / .6);
}
* {
  margin: 0px;
	padding: 0px;	
	box-sizing: border-box;
	font-family: 'Golos Text', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.login-wrapper {
  margin-top: 10%;
  padding: 20px;
	border: 1px solid black;
	border: none;
	border-radius: 10px;
		width: 800px;
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.content p {
	/* margin-top: 5px; */
	font-size: 15px;
}
.content h2 {
	color: #1337C3;
  font-weight: 700;
}
form {
	padding: 20px;
}

span a {
	color: #1337C3;
	margin: 5px;
	text-decoration: none;
}
label {
	font-size: 13px;
}


.btn-yellow {
	background-color: #f8f9fa;
	color: var(--main-color-black);
	box-shadow: 0 5px 10px rgba(0,0,0,0.23);
	transition: .5s ease-in-out;
	padding: 0.75em 1.5em;
	border-radius: 10px;
	border-color:  #ffdd47;
	cursor: pointer;
  }
  .btn-yellow:hover {
	background: var(--main-color-white);
	color: var(--main-color-black);
	border-color: var(--main-color-white);
  }
  .input-field {
	background-color: #f8f9fa;
	color: var(--main-color-black);
	box-shadow: 0 5px 10px rgba(0,0,0,0.23);
	transition: .5s ease-in-out;
	padding: 0.75em 1.5em;
	border-radius: 10px;
	cursor: pointer;
  }
  
.btn-red {
	/* background:black; */
	background-color: black;
	color: var(--main-color-white);
	box-shadow: 0 5px 10px rgba(0,0,0,0.23);
	transition: .5s ease-in-out;
	padding: 0.75em 1.5em;
	border-radius: 10px;
	border-color:  rgb(7, 7, 7);
	cursor: pointer;
  }
  
  .btn-red:hover {
	background: var(--main-color-white);
	color: var(--main-color-black);
	border-color: var(--main-color-white);
  }
  
  /* Last Part  */
  .bg-yellow-container {
	background-color: #f8f9fa;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 10px;
  }
  .bg-yellow {
	background-color: #f8f9fa;
	width: 100%;
	min-height: 100vh;
	/* border-radius: 10px; */
  }

  .text-color-yellow {
	color: var(--text-color-yellow);
  }
  .text-color-red {
	color: var(--main-color-red);
  }
  
  /* Delivery Time Display */
  .deliveryTimeDisplay {
	display: none;
  } 
  .cursorpointer {
	cursor: pointer;
  }
  .sidebar_product {
	font-weight: 700;
	font-size: 13px;
  }
  .sidebar_price {
  color: var(--main-color-red);
  font-weight: 900;
  }
  .sidebar_detail {
	color: #000000;
	font-size: 12px !important;
  }
  .black {
	color: var(--main-color-black);
  }
  a.nav-link {
	color: #706666;
	background: none;
	font-weight: 600; 
  }
  a.nav-link.active {
	border-bottom: 2px solid;
	color: #fff;
	background: none;
	font-weight: 600;
  }
  .checkout_price {
	color: var(--text-color-yellow);
	font-weight: 900;
	font-size: 25px;
  }
  .checkoutBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .cursorpointer {
	cursor: pointer;
  }
  .check {
	  font-size: 3rem;
	  color: rgb(79, 128, 0);
	  font-weight: 900;
  }
  .check-red {
	font-size: 3rem;
	color: var(--main-color-red);
	font-weight: 900;
  }
  
  .profile {
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translateX(-50%);
	/* Additional styling for the container */
	width: 100px; /* Set width as needed */
	height: 100px; /* Set height as needed */
	background-color: #f0f0f0;
	border-radius: 50%; 
	z-index: 100;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  
  }
  .delete_admin a {
	  text-decoration: none;
	  color: var(--main-color-white);
  }
  .delete_admin a:hover {
	  color: var(--main-color-black);
  }
  
  .updatelogo{
	border: 1px solid black;
	overflow: hidden;
	margin-top: 5rem;
	/* margin-left: 25rem; */
	position: relative;
	height: 400px;
	width: 100%;
  }
  
  .updatelogo img{
	position: absolute;
	height: 400px;
	width: 100%;
  }
  

